#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  width: 379px;
  margin-top: 5px;
}

ul {
  width: 350px;
  margin: 15px auto
}

li::before {
  content: '•'
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  text-align: left;
}

.item-data {
  margin-left: 5px;
}

.button-edit {
  margin-left: 15px;
}